@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* .featur-item__h4 {
   @include fontstyle(semibold, h4, cap);
}

.featur-item__text {
   @include fontstyle(regular, 0, cap);
   font-size: 15px;
} */
.header {
  background: #000000;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.header__left {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-right__account {
  margin: 0 33px;
}

.promo {
  background: #f1e4e6;
}

.promo .promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 764px;
  background: url(../assets/img/main/promo-background.png) -60% bottom no-repeat;
}

.featur-item__h1 {
  font-size: 48px;
}

.featur-item__h2 {
  font-size: 30px;
}

.featur-item__h3 {
  font-size: 24px;
}

.featur-item__h4 {
  font-size: 18px;
}

.featur-item__h5 {
  font-size: 16px;
}

.featur-item__text {
  font-size: 14px;
}

.featur-item__small {
  font-size: 11px;
}

.featur-item__h4 {
  font-weight: 700;
  font-size: 18px;
  font-size: capitalize;
}

.featur-item__text {
  font-weight: 400;
  font-size: capitalize;
  font-size: 15px;
}
