// header
.header {
   background: $black;
   &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 75px;
   }
   // left container
   &__left {
      width: 111px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }
   &-left__search {
      cursor: pointer;
   }
   // right container
   &-right {
      &__menu {
         display: inline-block;
         position: relative;
      }
      &__drop {
         position: absolute;
         background: $white;
      }
      &__burgermenu {
         cursor: pointer;
      }
      &__account {
         margin: 0 33px;
      }
   }
}

// drop burger-menu
.header {
   &-drop {
      &__text {
         @include fontstyle(semibold, text, upper);
      }
      &__list{}
      &__item{
         &-title{
            @include fontstyle(regular, text, upper);
            color: $bittersweet;
         }
      }
   }
}
