//COLORS
$white: #ffffff;
$black: #000000;
$bittersweet: #f16d7f;
$snow: #fbfbfb;
$zambezi: #5d5d5d;
$matterhorn: #575757;
$dimgray: #6f6e6e;
$whisper: #e8e8e8;
$nobel: #9f9f9f;

// FONTS
$fontfamily_main: "Lato";
$fontfamily_mainweight: (
   light: 300,
   regular: 400,
   semibold: 700,
   bold: 900,
);

$fontsize: (
   h1: 48px,
   h2: 30px,
   h3: 24px,
   h4: 18px,
   h5: 16px,
   p: 14px,
   small: 11px,
);

// Исправить значения на переменные
@mixin fontstyle($fontfamily_mainweight: light, $fontsize: h5, $lh: 16px, $tt: normal) {
   font-weight: $fontfamily_mainweight;
   font-size: $fontsize;
   line-height: $lh;
   text-transform: $tt;
}

// WIDTH
$desktopwidth: 1140px;

// MEDIA
$level_1: 1300px;
$level_2: 1100px;
$level_3: 950px;
$level_4: 800px;
$level_5: 750px;
$level_6: 600px;
$level_7: 320px;
